<div class="row">
  <span class="span9">
      <H3>Admin Control Panel:</H3>
  </span>
</div>
<div class="row">
  <span class="span9">
      <P><%= link_to "Add new Editor or Administrator", add_editor_admin_path, class: "btn btn btn-primary" %></P>
      <P><%= link_to "View current Editors and Administrators", view_editor_admin_path, class: "btn btn btn-primary" %></P>
  </span>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>