<div class="row">
  <H1>Welcome to iGST: Renewables Division</H1>
</div>
<div class="row">
  <% if !current_user %>
    <span class="span9">
      <P>If you already have an account please <%= link_to "Login", new_user_session_path %>. If not you can visit our <%= link_to('sign up', new_user_registration_path)  %> page.</P>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </span>
  <% end %>
</div>