<% if @projects && @projects.length > 0 %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th><h4>Projects:</h4></th>
      </tr>
    </thead>
      <% @projects.each_with_index do |project, index| %>
        <tr>
          <td width=40><%= index+1 %></td><td><%= link_to "#{project.name}", project %></td>
        </tr>
      <% end %>
  </table>
<% else %>
  <div class="row">
    <span class="span9">
      <P><B><h3>No projects to display.</H3></B></P>
      <P>Please wait for GST to attach your new account to your project. If you are still unable to access your project, please contact the Renewables Division by phone: 855-GST-GST1 or by e-mail: info@igst.com</P>
      <BR>
      <BR>
      <BR>
      <BR>
      <BR>
      <BR>
      <BR>
      <BR>
      <BR>
      <BR>
      <BR>
      <BR>
    </span>
  </div>
<% end %>
<div class="row">
  <span class="span9">
    <% if current_user.editor || current_user.admin %>
      <%= link_to "New Project", new_project_path, class: "btn btn-small btn-primary" %>
    <% end %>
  </span>
</div>
<br>