<h1>Project: <%= @project.name %></h1>
<%= link_to "Edit", edit_project_path %> | <%= link_to "Delete Project", @student, data: { confirm: "Are you sure you want to permanently delete this project?" }, method: :delete %>
